{% extends "Global/layout.html.twig" %}

{% set pagetitle = 'Mail server settings' | trans %}

{% block title %}{{pagetitle}}{% endblock %}

{% block content %}

    {% set navigation = [{ "dashboard_index": ('Dashboard' | trans), "current":(pagetitle) }] %}
    {% include "Global/navigation.html.twig" with navigation %}

    <section class="section-content padding-y bg-white">
        <div class="{{ services.getSetting("app_layout") }}">
            <div class="row">
                <aside class="col-lg-3 pt-3 pt-lg-0">
                    {% include "Dashboard/sidebar.html.twig" %}
                </aside>
                <div class="col-lg-9 mt-4 mt-lg-0">
                    <div class="card box">
                        <div class="card-header text-right bg-transparent border-0">
                            <button data-target="{{ path('dashboard_administrator_settings_mail_server_test') }}" class="btn btn-primary send-test-email-button" data-confirmation-text="{{ "By clicking on send, an email is going to be sent to the chosen email address. Make sure to save the configuration to be tested before testing."|trans }}">
                                <i class="fas fa-paper-plane"></i> {{ "Test the mail server configuration"|trans }}
                            </button>
                        </div>
                        <div class="card-body">
                            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                            {{ form_widget(form) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

{% endblock %}